.container {
    background-color: black;
    font-size: large;
}

.navbar {
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    align-items: center;
    padding: 0 10px;
}

.navbar a:hover {
    color: tomato;
    background-color: whitesmoke;
    border: tomato 1px solid;
}