@font-face {
  font-family: Aquire;
  src: url(../font/Aquire.otf);
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  /* height: 20rem; */
  padding: 1rem;
  background-color: black;
  font-weight: 700;
}

.container nav {
  text-align: center;
  vertical-align: middle;
}

nav div {
  display: inline-block;
}

.logo a {
  font-family: "Aquire", "sans-serif";
  font-size: x-large;
  display: inline-block;
}

.navbar a {
  margin: 0.5rem 1.5rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar a:hover {
  color: orangered;
  background-color: silver;
}

.btn {
  background-color: orangered;
  border: none;
  color: black;
  padding: 0 0.5rem;
  text-decoration: none;
}
