<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="flex items-center justify-between">
          <div class="left flex items-center">
            <div class="branding">
              <h1>KhanShifaul</h1>
            </div>
            <a href="#">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#blog">Blog</a>
          </div>
          <div class="right">
            <button class="btn btn-primary">Contact</button>
          </div>
        </nav>
      </div>
    </header>

    <section class="hero flex items-center">
      <div class="flex items-center">
        <div class="left flex">
          <img src="../static/img/img-1.png" />
          <!-- <img src="../static/img/20210514_232330.png"> -->
        </div>
        <div class="right">
          <h2>Shifaul Islam</h2>
          <p>Full-stack web developer & <span>python programmer</span></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            totam dolore atque, inventore magnam rem nam perspiciatis sunt eos
            dolor, natus veniam, impedit nostrum illo a animi repellendus
            officia labore.
          </p>
        </div>
      </div>
    </section>
    <section>
      <p>About me</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi corporis
        asperiores voluptate recusandae suscipit, quae dolore rerum aliquid qui
        accusantium numquam? Magnam beatae aut architecto, ullam laboriosam
        quisquam. Sint, eos?
      </p>
    </section>
  </body>
</html>
